#include "keyball61_layouts.dtsi"

#include <dt-bindings/zmk/matrix_transform.h>
#include <dt-bindings/zmk/input_transform.h>

#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <input/processors.dtsi>
//#include <input/processors/xyz.dtsi>

&physical_layout0 {
    kscan = <&kscan0>; // Label of the kscan this layout uses
    transform = <&default_transform>; // Label of the matrix transform this layout uses
};

/ {

    to_wheel: to_wheel {
        compatible = "zmk,input-processor-code-mapper";
        #input-processor-cells = <0>;
        type = <INPUT_EV_REL>;
        map = <INPUT_REL_X INPUT_REL_HWHEEL>
            , <INPUT_REL_Y INPUT_REL_WHEEL>;
    };

    chosen {
        zmk,kscan = &kscan0;
        zmk,physical-layout = &physical_layout0;
        zephyr,display = &oled;
    };

    default_transform: matrix_transform0 {
        compatible = "zmk,matrix-transform";
        columns = <14>;
        rows = <5>;
        map = <
            RC(5,0) RC(6,0) RC(7,0) RC(0,5) RC(0,6) RC(0,7)                       RC(9,16)  RC(9,15)  RC(9,14)  RC(16,9)  RC(15,9)  RC(14,9)
            RC(5,1) RC(6,1) RC(7,1) RC(1,5) RC(1,6) RC(1,7)                       RC(10,16) RC(10,15) RC(10,14) RC(16,10) RC(15,10) RC(14,10)
            RC(5,2) RC(6,2) RC(7,2) RC(2,5) RC(2,6) RC(2,7)                       RC(11,16) RC(11,15) RC(11,14) RC(16,11) RC(15,11) RC(14,11)
            RC(5,3) RC(6,3) RC(7,3) RC(3,5) RC(3,6) RC(3,7) RC(3,8)     RC(12,17) RC(12,16) RC(12,15) RC(12,14) RC(16,12) RC(15,12) RC(14,12)
            RC(5,4) RC(6,4) RC(7,4) RC(4,5) RC(4,6) RC(4,7) RC(4,8)     RC(13,17) RC(13,16)                               RC(15,13) RC(14,13)
        >;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-charlieplex";
        wakeup-source;

        gpios
            = <&pro_micro 4 GPIO_ACTIVE_HIGH>
            , <&pro_micro 5 GPIO_ACTIVE_HIGH>
            , <&pro_micro 6 GPIO_ACTIVE_HIGH>
            , <&pro_micro 7 GPIO_ACTIVE_HIGH>
            , <&pro_micro 8 GPIO_ACTIVE_HIGH>
            , <&pro_micro 21 GPIO_ACTIVE_HIGH>
            , <&pro_micro 20 GPIO_ACTIVE_HIGH>
            , <&pro_micro 19 GPIO_ACTIVE_HIGH>
            , <&pro_micro 18 GPIO_ACTIVE_HIGH>
            ;
    };
};

&pinctrl {
    i2c1_default: i2c1_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 17)>,
                    <NRF_PSEL(TWIM_SCL, 0, 20)>;
        };
    };

    i2c1_sleep: i2c1_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 17)>,
                    <NRF_PSEL(TWIM_SCL, 0, 20)>;
            low-power-enable;
        };
    };
};

&i2c1 {
    status = "okay";
    compatible = "nordic,nrf-twi";
    clock-frequency = <I2C_BITRATE_STANDARD>;
    pinctrl-0 = <&i2c1_default>;
    pinctrl-1 = <&i2c1_sleep>;
    pinctrl-names = "default", "sleep";

    oled: ssd1306@3c {
		compatible = "solomon,ssd1306fb-i2c";
		reg = <0x3c>;
		label = "DISPLAY";
		width = <128> ;
		height = <32> ;
		segment-offset = <0> ;
		page-offset = <0> ;
		display-offset = <0> ;
		display-inverted = <0> ;
		// reset-gpios = <&gpio0 4 GPIO_ACTIVE_LOW>;
	};
};